<div class="navbar" id="header">
      <h1><a class="logo" href="/">My todo list</a></h1>

      <ul class="nav">
        <li class="first"><a href="/" class="proceed">Home</a></li>
        <li class="last"><a href="/about" class="proceed">About</a></li>
      </ul>
</div>
